@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html{
    font-family: 'Noto Sans', sans-serif;
}
body{
    background: rgb(24,250,61);
    background: linear-gradient(90deg, rgba(24,250,61,1) 0%, rgba(0,212,255,1) 100%);
}
.discord{
    font-size: 35px;
    text-align: center;
}
#discord1{
    font-size: 25px;
}
.discordserv{
    font-size: 35px;
    text-align: center;
}
#discordserv1{
    font-size: 25px;
}
a{
    text-decoration: none;
}