@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: "Roboto";
    background-color: rgb(209, 209, 209);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
	text-align: center;
}
body{
    margin: 0;
}
.navi{
    background-color: rgb(28, 136, 224);
    overflow: hidden;
}
.navi a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}
.navi a.active{
    background-color: #02b7ffb4;
    color: white;
}   
   a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: rgb(39, 39, 39);
    padding: 50px 20px;
    bottom: 0;
    position: fixed;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    font-size: medium;
    list-style: none;
}
.text1{
    margin-top: 30px;
    margin-bottom: 0;
    max-height: 450px;
    max-width: 550px;
    text-align: center;
    font-size: x-large;
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(0, 195, 255, 0.836);
}
#twitterfoto{
    width: 52px;
}
#redditfoto{
    width: 52px;
}
#youtubefoto{
    width: 52px;
}
#twitchfoto{
    width: 52px;
    border-radius: 50%;
}
#discordlogo{
    width: 52px;
}
.twitch{
    margin: 20px;
    border-radius: 25px 25px 25px 25px;
}
.text1pr{
    text-align: center;
    margin-top: 310px;
    max-height: 450px;
    max-width: 550px;
    text-align: left;
    font-size: x-large;
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(253, 0, 0, 0.212);
}
.email{
  background-color: #4c64ea;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.email:hover,
.email:focus {
  background-color: #98f082;
}
